body {
    background-color: #492626;
}

body.bg{ /*Organizando a imagem do bg*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(imagens/); /*AINDA SERÁ ADICIONADA A IMAGEM*/
}

header { /*Estilizando a logo*/
    padding: 50px;
    background: linear-gradient(
        180deg
        rgba(0, 0, 0, 0.69)0%,
        rgba(0, 0, 0, 0)100%
    );

}

header.img { 
    width: 150px;
}

#container_login { /*Degradê do login*/
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
}