body {
    background-color: #000;
}

body.bg{ /*Organizando a imagem do bg*/
    background-repeat: no-repeat;

    background-size: cover;
    background-image: url(imagens/loginbg.jpg);
}

header { /*Estilizando a logo*/
    height: 20vh;
    padding: 50px;
    background: linear-gradient(
        180deg
        rgba(0, 0, 0, 0.69)0%,
        rgba(0, 0, 0, 0)100%
    );

}

#container_login { /*Degradê do login*/
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
}

#favG {
    width: 28px;
    height: auto;
}

#logo {
    width: 200px;
    height: auto;
}